.o_form_status_indicator_buttons button .fa-fw{
    font-size: 1.1rem;
    color: red;
    width: auto;
}
.o_form_status_indicator_buttons button.o_form_button_save .fa-cloud-upload::after{
    content: " Save";
    color: red;
    margin-right: 3px;
}

.o_form_status_indicator_buttons button.o_form_button_cancel .fa-undo::after{
    content: " Discard";
    color: red;
    font-size: 1rem;
    margin-right: 3px;
}
